.main{
     background: #022C22;
    height: 70px;
    display: flex;
    justify-content: center;
    /* margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}
.main2 h1{
    color: #F5F5F5;

}
.main2{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
}
li a{
    text-decoration: none;
    padding: 5px 15px;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
li a:hover{
     color: #FACC15;
    text-decoration: underline;
    text-decoration-thickness: 2px
    
    
}